*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 80px;
align-items:center;
background:#111827;
}

.logo{
font-size:24px;
font-weight:700;
color:#ff9900;
}

ul{
display:flex;
list-style:none;
gap:35px;
}

li{
cursor:pointer;
transition:.3s;
}

li:hover{
color:#ff9900;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:55px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
font-size:20px;
line-height:1.7;
margin-bottom:35px;
}

button{
padding:15px 35px;
font-size:18px;
border:none;
border-radius:50px;
background:#ff9900;
color:white;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.08);
}

.cards{
display:flex;
justify-content:center;
gap:40px;
padding:60px;
flex-wrap:wrap;
}

.card{
background:white;
color:#222;
padding:35px;
width:280px;
border-radius:20px;
text-align:center;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.card i{
font-size:60px;
color:#ff9900;
margin-bottom:20px;
}

.status{
padding:80px;
text-align:center;
}

.status h2{
margin-bottom:30px;
font-size:40px;
}

.status-box{
display:inline-flex;
align-items:center;
gap:15px;
padding:20px 35px;
background:#1e293b;
border-radius:12px;
font-size:22px;
}

.green{
width:15px;
height:15px;
background:limegreen;
border-radius:50%;
animation:blink 1s infinite;
}

footer{
margin-top:80px;
text-align:center;
padding:30px;
background:#111827;
}

@keyframes blink{
50%{
opacity:.2;
}
}

@media(max-width:768px){

.hero h1{
font-size:35px;
}

.cards{
padding:20px;
}

nav{
padding:20px;
}

ul{
display:none;
}

}